# .gitattributes
# 
# Alleen de XSDs zijn relevant voor een release,
# want concrete lijsten en enumeraties wil je apart kunnen aanpassen.
# Hier dus alle XML-bestanden uitsluiten.
#

xml/*.xml export-ignore
xml/      export-ignore

.gitattributes  export-ignore

